{% extends 'base.html' %}
{% load static %}  <!-- Carregar a tag static antes de utilizá-la -->

{% block title %}Criar Novo Usuário{% endblock %}

{% block content %}
    <!-- Carregando o arquivo CSS corretamente -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms_adicionar_editar.css' %}">

    <h1>Criar Novo Usuário</h1>

    <div class="new-user">
        <form method="post">
            {% csrf_token %}
            <label for="username">Nome de Usuario: </label>
            <input type="text" name="username" required> <br><br>

            <label for="full-name">Nome Completo: </label>
            <input type="text" name="full-name" required> <br><br>

            <label for="email">Email: </label>
            <input type="email" name="email" required><br><br>

            <label for="password">Senha: </label>
            <input type="password" name="password" required><br><br>

            <label for="cargo">Cargo:</label>
            <select name="cargo" required>
                <option value="CEO">CEO</option>
                <option value="Gerente">Gerente</option>
                <option value="Assistente">Assistente</option>
                <option value="Funcionario">Funcionario</option>
            </select><br><br>

            <label for="profile_picture">Foto de Perfil: </label>
            <input type="file" name="profile_picture"><br><br>

            <button type="submit">Criar Usuário</button><br>

        </form>
    </div> <br>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div>
        <a href="{% url 'lista_de_usuarios' %}">Voltar para a lista de usuários</a>
    </div>
{% endblock %}
