{% extends 'base.html' %}

{% load static %}

{% block title %}Detalhes do Usuário{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/detalhes_usuario.css' %}">

<div class="container-detalhes">
    <div class="bg-h1">
        <h1 class="text-center titulo-detalhes">Detalhes do Usuário</h1>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <p><strong>Nome:</strong> {{ usuario.first_name }} {{ usuario.last_name }}</p>
            <p><strong>Email:</strong> {{ usuario.email }}</p>
            <p><strong>Cargo:</strong> {{ usuario.profile.cargo }}</p>
            <p><strong>Status:</strong> {{ usuario.is_active|yesno:"Ativo,Inativo" }}</p>

            <div class="mt-4">
                {% if user.profile.cargo == 'CEO' or user.profile.cargo == 'Gerente' %}
                    <a href="{% url 'gerenciar_usuario' usuario.id %}" class="btn btn-info">Editar Usuário</a>
                {% endif %}
            </div>

            <div class="mt-3">
                <a href="{% url 'lista_de_usuarios' %}" class="btn btn-secondary">Voltar para a Lista de Usuários</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

