<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% if usuario %}Editar Usuário{% else %}Adicionar Usuário{% endif %}</title>
</head>
<body>
    <h1>{% if usuario %}Editar Usuário: {{ usuario.username }}{% else %}Criar Novo Usuário{% endif %}</h1>

    <form method="post">
        {% csrf_token %}
        <label for="username">Nome de Usuário:</label>
        <input type="text" name="username" value="{{ usuario.username }}" required><br><br>

        <label for="email">Email:</label>
        <input type="email" name="email" value="{{ usuario.email }}" required><br><br>

        <label for="password">Senha:</label>
        <input type="password" name="password" required><br><br>

        <label for="cargo">Cargo:</label>
        <select name="cargo" required>
            <option value="">Selecione um cargo</option>
            {% for valor, rotulo in usuario.profile.cargo_choices %}
                <option value="{{ valor }}" {% if usuario and usuario.profile.cargo == valor %}selected{% endif %}>
                    {{ rotulo }}
                </option>
            {% endfor %}
        </select>
        <br><br>

        <button type="submit">{% if usuario %}Atualizar Usuário{% else %}Criar Usuário{% endif %}</button><br>
    </form>

    {% if usuario %}
    <a href="{% url 'excluir_usuario' usuario.id %}" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir Usuário</a>
    {% endif %}

    <a href="{% url 'lista_de_usuarios' %}">Voltar para a Lista de Usuários</a>
</body>

</html>
