{% extends 'base.html' %}

{% block title %}Página Inicial - Sistema de Segurança{% endblock %}

{% block content %}
    <h1>Bem-vindo ao Sistema de Gerenciamento de Segurança</h1>
    <nav>
        <div class="resource-list">
            {% if user.is_authenticated %}
                {% if user.profile.cargo == 'Funcionario' %}
                    <a href="{% url 'lista_de_recursos' %}" class="card-link">
                        <h5>Lista de Recursos</h5>
                    </a>
                {% elif user.profile.cargo == 'Gerente' %}
                    <a href="{% url 'lista_de_usuarios' %}" class="card-link">
                        <h5>Lista de Usuários</h5>
                    </a>
                    <a href="{% url 'lista_de_recursos' %}" class="card-link">
                        <h5>Lista de Recursos</h5>
                    </a>
                {% elif user.profile.cargo == 'Assistente' %}
                    <a href="{% url 'home' %}" class="card-link">
                        <h5>Home</h5>
                    </a>
                {% elif user.is_superuser %}
                    <a href="{% url 'lista_de_usuarios' %}" class="card-link">
                        <h5>Lista de Usuários</h5>
                    </a>
                    <a href="{% url 'lista_de_recursos' %}" class="card-link">
                        <h5>Lista de Recursos</h5>
                    </a>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}" class="card-link">
                    <h5>Login</h5>
                </a>
            {% endif %}
    </nav>
{% endblock %}
