{% extends 'base.html' %}

{% load static %}

{% block title %}Lista de Usuários{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lista_de_usuarios.css' %}">
    <h1 class="title">Lista de Usuários</h1>

    <div class="resource-list">
        {% for usuario in usuarios %}
        <a href="{% url 'detalhes_usuario' usuario.id %}" class="card-link">
            <div class="card">
                <div class="image-container-list">
                    {% if usuario.Profile.profile_image %}
                        <img src="{{ usuario.Profile.profile_image.url }}" alt="Foto de Perfil" class="img-thumbnail mt-3">
                    {% else %}
                        <img src="{% static 'images/default_profile_picture.jpg' %}" alt="Foto de Perfil Padrão" class="img-thumbnail mt-3">
                    {% endif %}
                </div>                
                <div class="username-container">
                    <h5>{{ usuario.username }}</h5>
                </div>
            </div>
        </a>
        {% empty %}
            <p>Nenhum usuário encontrado.</p>
        {% endfor %}
    </div>
    

    <div class="create-user">
        <a href="{% url 'adicionar_usuario' %}" class="card-link">
            <h5>Criar Novo Usuário</h5>
        </a>
    </div>

    <div class="home">
        <a href="{% url 'home' %}" class="card-link">
            <h5>Voltar para a Página Inicial</h5>
        </a>
    </div>
{% endblock %}
