{% extends 'base.html' %}

{% block title %}Lista de Usuários{% endblock %}

{% block content %}
    <h1>Lista de Usuários</h1>

    <div class="resource-list">
        {% for usuario in usuarios %}
            <a href="{% url 'detalhes_usuario' usuario.id %}" class="card-link">
                <h5>{{ usuario.username }}</h5>
            </a>
        {% empty %}
            <p>Nenhum usuário encontrado.</p>
        {% endfor %}
    </div>

    <div class="edit-user">
        <!-- Link para adicionar um novo usuário, não precisa de user_id -->
        <a href="{% url 'adicionar_usuario' %}" class="card-link">
            <h5>Criar Novo Usuário</h5>
        </a>
    </div>

    <div class="home">
        <a href="{% url 'home' %}" class="card-link">
            <h5>Voltar para a Página Inicial</h5>
        </a>
    </div>
{% endblock %}
