{% extends 'base.html' %}

{% block title %}Lista de Recursos{% endblock %}

{% block content %}
    <h1>Lista de Recursos</h1>

    <div class="resource-list">
        {% for recurso in recursos %}
            <a href="{% url 'editar_recurso' recurso.id %}" class="card-link">
                <h5>{{ recurso.nome }} - {{ recurso.status }}</h5>
            </a>
        {% empty %}
            <p>Nenhum recurso encontrado.</p>
        {% endfor %}
    </div>

    <div class="add-resource">
        <a href="{% url 'adicionar_recurso' %}" class="card-link">
            <h5>Adicionar Novo Recurso</h5>
        </a>
    </div>

    <div class="back-home">
        <a href="{% url 'home' %}" class="card-link">
            <h5>Voltar</h5>
        </a>
    </div>
{% endblock %}
