<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar Recuperação de Senha</title>
</head>
<body>
    <h1>Solicitar Recuperação de Senha</h1>
    <div class="solicitacao-email">
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <label for="email">Digite seu email: </label>
            <input type="email" name="email" required>
            <button type="submit">Enviar Link de Recuperação</button>  
        </form>
    </div>
</body>
</html>

